[submodule "third_party/ida-sdk"]
	path = third_party/ida-sdk
	url = https://github.com/HexRaysSA/ida-sdk.git
[submodule "third_party/ghidra"]
	path = third_party/ghidra
	url = https://github.com/NationalSecurityAgency/ghidra.git
