name: quokka-build

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.12

      - name: Install Ninja (Linux only)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Prepare build environment (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          IDA_SDK_VERSION: idasdk80
          IDA_SDK_PASSWORD: ${{ secrets.IDA_SDK80_PASSWORD }}
          CMAKE_BUILD_DIR: build80
        run: |
          [ ! -d third_party/$IDA_SDK_VERSION ] && unzip -d third_party -P $IDA_SDK_PASSWORD third_party/$IDA_SDK_VERSION.zip
          [ -f third_party/$IDA_SDK_VERSION/include/regex.h ] && mv third_party/$IDA_SDK_VERSION/include/regex.h third_party/$IDA_SDK_VERSION/include/regex.bak
          cmake -B $CMAKE_BUILD_DIR -S $GITHUB_WORKSPACE -G Ninja -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DIdaSdk_ROOT_DIR=${GITHUB_WORKSPACE}/third_party/$IDA_SDK_VERSION
      
      - name: Prepare build environment (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        env:
          IDA_SDK_VERSION: idasdk80
          IDA_SDK_PASSWORD: ${{ secrets.IDA_SDK80_PASSWORD }}
          CMAKE_BUILD_DIR: build80
        run: |
          7z.exe x -p"${env:IDA_SDK_PASSWORD}" -y -o"third_party" "third_party\${env:IDA_SDK_VERSION}.zip"
          rm "third_party\${env:IDA_SDK_VERSION}\include\regex.h"
          cmake -B "${env:CMAKE_BUILD_DIR}" -S "${env:GITHUB_WORKSPACE}" -DIdaSdk_ROOT_DIR="${env:GITHUB_WORKSPACE}/third_party/${env:IDA_SDK_VERSION}"

      - name: Build
        env:
          CMAKE_BUILD_DIR: build80
        shell: bash
        run: |
          cmake --build $CMAKE_BUILD_DIR --config $BUILD_TYPE
          cmake --install $CMAKE_BUILD_DIR

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        env:
          CMAKE_BUILD_DIR: build80
        with:
          name: idaplugin-artifacts-${{ matrix.os }}
          path: '${{ env.CMAKE_BUILD_DIR }}/quokka-install/*'
          if-no-files-found: error

  upload:
    name: Upload artifacts for Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: idaplugin-artifacts-windows-latest
          path: windows
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: idaplugin-artifacts-ubuntu-latest
          path: ubuntu
      - name: Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          files: |
            ubuntu/*
            windows/*
