name: quokka-build

on: [push]

env:
  BUILD_TYPE: Release

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        ida_sdk: [74, 77, 80, 81, 82, 83, 84, 85, 90, 90sp1, 91]
        include:
          - os: ubuntu-latest
            ext: so
          - os: windows-latest
            ext: dll
          - os: macos-latest
            ext: dylib
        exclude:
          # We exclude these because ARM libraries were not available in 7.4 and the latest macos runner on GitHub are Mx machines
          - os: macos-latest
            ida_sdk: 74

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set IDA SDK password
        shell: bash
        run: |
          case "${{ matrix.ida_sdk }}" in
            74) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK74_PASSWORD }}" >> "$GITHUB_ENV" ;;
            77) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK77_PASSWORD }}" >> "$GITHUB_ENV" ;;
            80) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK80_PASSWORD }}" >> "$GITHUB_ENV" ;;
            81) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK81_PASSWORD }}" >> "$GITHUB_ENV" ;;
            82) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK82_PASSWORD }}" >> "$GITHUB_ENV" ;;
            83) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK83_PASSWORD }}" >> "$GITHUB_ENV" ;;
            84) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK84_PASSWORD }}" >> "$GITHUB_ENV" ;;
            85) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK85_PASSWORD }}" >> "$GITHUB_ENV" ;;
            90) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK90_PASSWORD }}" >> "$GITHUB_ENV" ;;
            90sp1) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK90sp1_PASSWORD }}" >> "$GITHUB_ENV" ;;
            91) echo "IDA_SDK_PASSWORD=${{ secrets.IDA_SDK91_PASSWORD }}" >> "$GITHUB_ENV" ;;
            *) echo "No password defined for this IDA SDK version" && exit 1 ;;
          esac

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.3.0
        with:
          persist-credentials: false

      - name: Cache third_party folder
        id: cache-sdk
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: third_party
          key: ${{ matrix.os }}-third-party-${{ hashFiles('sdk_lockfile') }}

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@802fa1a2c4e212495c05bf94dba2704a92a472be # v2.0.2
        with:
          cmake-version: "latest"

      - name: Install Ninja (Linux / MacOS)
        if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest' }}
        uses: seanmiddleditch/gha-setup-ninja@3b1f8f94a2f8254bd26914c4ab9474d4f0015f67 # v6

      - name: Fetch IDA SDKs (Linux / MacOS)
        if: ${{ (matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest') && steps.cache-sdk.outputs.cache-hit != 'true' }}
        run: |
          cd scripts
          ./fetch_sdk.sh

      - name: Fetch IDA SDKs (Windows)
        if: ${{ matrix.os == 'windows-latest' && steps.cache-sdk.outputs.cache-hit != 'true' }}
        run: |
          cd scripts
          .\fetch_sdk.bat

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: Prepare build environment (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          IDA_SDK_VERSION: idasdk${{ matrix.ida_sdk }}
          CMAKE_BUILD_DIR: build${{ matrix.ida_sdk }}
        run: |
          unzip -v
          [ ! -d third_party/$IDA_SDK_VERSION ] && unzip -d third_party -P $IDA_SDK_PASSWORD third_party/$IDA_SDK_VERSION.zip
          [ -f third_party/$IDA_SDK_VERSION/include/regex.h ] && mv third_party/$IDA_SDK_VERSION/include/regex.h third_party/$IDA_SDK_VERSION/include/regex.bak
          cmake -B $CMAKE_BUILD_DIR -S $GITHUB_WORKSPACE -G Ninja -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DIdaSdk_ROOT_DIR=${GITHUB_WORKSPACE}/third_party/$IDA_SDK_VERSION

      # We need to differentiate MacOS build from Linux because we want to use a specific compiler on MacOS
      - name: Prepare build environment (MacOS)
        if: ${{ matrix.os == 'macos-latest' }}
        env:
          IDA_SDK_VERSION: idasdk${{ matrix.ida_sdk }}
          CMAKE_BUILD_DIR: build${{ matrix.ida_sdk }}
        run: |
          unzip -v
          [ ! -d third_party/$IDA_SDK_VERSION ] && unzip -d third_party -P $IDA_SDK_PASSWORD third_party/$IDA_SDK_VERSION.zip
          [ -f third_party/$IDA_SDK_VERSION/include/regex.h ] && mv third_party/$IDA_SDK_VERSION/include/regex.h third_party/$IDA_SDK_VERSION/include/regex.bak
          cmake -B $CMAKE_BUILD_DIR \
                -S $GITHUB_WORKSPACE \
                -G Ninja \
                -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
                -DIdaSdk_ROOT_DIR=${GITHUB_WORKSPACE}/third_party/$IDA_SDK_VERSION \
                -DLLVM_ROOT=$(brew --prefix llvm@18)

      - name: Prepare build environment (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        env:
          IDA_SDK_VERSION: idasdk${{ matrix.ida_sdk }}
          CMAKE_BUILD_DIR: build${{ matrix.ida_sdk }}
        run: |
          7z.exe x -p"${env:IDA_SDK_PASSWORD}" -y -o"third_party" "third_party\${env:IDA_SDK_VERSION}.zip"
          rm "third_party\${env:IDA_SDK_VERSION}\include\regex.h"
          cmake -B "${env:CMAKE_BUILD_DIR}" -S "${env:GITHUB_WORKSPACE}" -DIdaSdk_ROOT_DIR="${env:GITHUB_WORKSPACE}/third_party/${env:IDA_SDK_VERSION}"

      - name: Build
        env:
          CMAKE_BUILD_DIR: build${{ matrix.ida_sdk }}
        shell: bash
        run: |
          cmake --build $CMAKE_BUILD_DIR --config $BUILD_TYPE
          cmake --install $CMAKE_BUILD_DIR

      - name: Rename Plugin
        shell: bash
        run: |
          mv build${{ matrix.ida_sdk }}/quokka-install/quokka_plugin64.${{ matrix.ext }} ${{ matrix.ida_sdk }}-quokka_plugin0064.${{ matrix.ext }}
          [[ -e "build${{ matrix.ida_sdk }}/quokka-install/quokka_plugin.${{ matrix.ext }}" ]] && mv build${{ matrix.ida_sdk }}/quokka-install/quokka_plugin.${{ matrix.ext }} ${{ matrix.ida_sdk }}-quokka_plugin0032.${{ matrix.ext }} || echo "Skipping 32 bit plugin"

      # We need one action per file
      # See https://github.com/actions/upload-artifact/issues/331
      - name: Upload Artifacts (64)
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4.3.1
        with:
          name: idaplugin-${{ matrix.os }}-${{ matrix.ida_sdk }}
          path: ${{ matrix.ida_sdk }}-quokka_plugin0064.${{ matrix.ext }}
          if-no-files-found: error

      - name: Upload Artifacts (32)
        if: ${{ contains('74,77,80,81,82,83,84', matrix.ida_sdk) }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4.3.1
        with:
          name: idaplugin-${{ matrix.os }}-${{ matrix.ida_sdk }}-32
          path: ${{ matrix.ida_sdk }}-quokka_plugin0032.${{ matrix.ext }}
          if-no-files-found: error

  upload:
    name: Upload artifacts for Release
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        ida_sdk: [74, 77, 80, 81, 82, 83, 84, 85, 90, 90sp1, 91]
        bitness: ["", "-32"]
        include:
          - os: windows-latest
            ext: dll
          - os: ubuntu-latest
            ext: so
          - os: macos-latest
            ext: dylib
        exclude:
          - os: macos-latest
            ida_sdk: 74
          - ida_sdk: 85
            bitness: "-32"
          - ida_sdk: 90
            bitness: "-32"
          - ida_sdk: 90sp1
            bitness: "-32"
          - ida_sdk: 91
            bitness: "-32"

    steps:
      - name: Download Artefact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v4.3.0
        with:
          name: idaplugin-${{ matrix.os }}-${{ matrix.ida_sdk }}${{ matrix.bitness }}

      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.2.1
        with:
          files: ${{ matrix.ida_sdk }}-quokka_*
          fail_on_unmatched_files: true
