name: doc
on:
  push:
    branches:
      - main

permissions: {}

jobs:
  deploy-doc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          pip install '.[doc]'
          sudo apt-get update && sudo apt-get install --yes doxygen
      - name: Deploy doc
        run: mkdocs gh-deploy --force
