name: Quokka Python Package

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["**"]

permissions: {}

jobs:
  python-test:
    name: "Python package test"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.10'
    - run: pip install '.[test]'
    - name: Tests
      run: pytest tests/python
