name: Quokka Python Package

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["**"]

permissions: {}

jobs:
  python-test:
    name: "Python package test"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.10'
    - run: pip install '.[test]'
    - name: Tests
      run: pytest tests/python
