name: Quokka Python Package

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["**"]

permissions: {}

jobs:
  python-test:
    name: "Python package test"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        persist-credentials: false
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.10'
    - run: pip install '.[test]'
    - name: Tests
      run: pytest tests/python
