name: Quokka Python Package

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["**"]

permissions: {}

jobs:
  python-test:
    name: "Python package test"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false
    - uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - run: pip install '.[test]'
    - name: Tests
      run: pytest tests/python
